@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.tx-altfont-1 {     font-family: 'Raleway', sans-serif !important}

.tx-altfont-3 { font-family: 'Gajraj One', cursive !important}
.tx-altfont-4 {     font-family: 'Marko One', serif !important}
.tx-altfont-5 {     font-family: 'Lobster', serif !important}

.neu-concave {
    background: linear-gradient(145deg, #00000099, #0f0f0f77);
    box-shadow:  10px 10px 20px #00000077,
                -10px -10px 20px #0a0a0aaa;
}
.neu-convex {
    background: linear-gradient(-45deg, #00000099, #0f0f0f77);
    box-shadow:  10px 10px 20px #00000077,
                -10px -10px 20px #0a0a0aaa;
}

.blink_me {
  animation: blinker 1s linear infinite;
}
  
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {
  .favSymbolsModalContent {
    max-height: 45vh;
    border: white;
    overflow-y: auto;
    border: 1px solid #77777777;
    border-radius: 25px;
    padding: 10px;
    /* overflow-x: hidden; */
    /* margin-top: 40px; */
  }
}

.border-black {
  border: 1px solid black;
}

.hideNotesVertical {
  height: 200px;
}
@media only screen and (max-height: 900px) {
  .hideNotesVertical {
    height: 150px;
  }
}
@media only screen and (max-height: 800px) {
  .hideNotesVertical {
    height: 100px;
  }
}
@media only screen and (max-height: 750px) {
  .hideNotesVertical {
    height: 70px;
  }
}
@media only screen and (max-height: 700px) {
  .hideNotesVerticalContainer {
    display: none !important;
  }
}

@keyframes hoverjump {
	0%{transform: translateY(0px)}
	33%{transform: translateY(0px)}
  35%{transform: translateY(-15px) rotate(7deg);}
  36%{transform: translateY(-12px) rotate(-3deg);}
  38%{transform: translateY(0px)}
  39%{transform: translateY(-4px)}
  40%{transform: translateY(-3px)}
  41%{transform: translateY(0px)}
  100%{transform: translateY(0px)}
}
@keyframes hoverc {
	0%{transform: translateY(-10px)}
	33%{transform: translateY(-10px)}
  50%{transform: translateY(10px)}
  90%{transform: translateY(10px)}
  100%{transform: translateY(-10px)}
}

.hover-jump{animation: hoverjump 10s;  animation-iteration-count: infinite }
.hover-27{animation: hoverc 27s;  animation-iteration-count: infinite }
.hover-31{animation: hoverc 31s;  animation-iteration-count: infinite }
.hover-43{animation: hoverc 43s;  animation-iteration-count: infinite }

.some-shakefull-1{animation: someshakefull 5s;  animation-iteration-count: infinite }



@keyframes someshakefull {
	0%{transform: rotate(0deg)}
	45%{transform: rotate(0deg)}
  49%{transform: rotate(10deg)}
  52%{transform: rotate(-10deg)}
  55%{transform: rotate(0deg)}
  100%{transform: rotate(0deg)}
}